@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

*{
    margin: 0;
    color: white;
}

       body{
        background-image: linear-gradient(45deg,rgb(24, 24, 24), rgb(54, 53, 53));
        height: 100vh;
        display: flex;
        flex-direction: column;
       }

       footer {
        margin-bottom: 10px;
        color: aliceblue;
        position: absolute;
        left: 14px;
        bottom: 14px;
}

       strong {
        background-color: #adaaa6;
        color: #000814;
        padding: 0 7px;}


#categoriasSelect{
    color: #000814;
}

#itemSelect{
    color: #000814;
}

img{
    position: absolute;
    top: 10px;
    right: 10px;
}

main{
    line-height: 1.8;
    padding: 22px;
}

.add{
    background-color: green;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 8px;
}

.remove{
    background-color: red;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 8px;
}

.print{
    background-color: blueviolet;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 8px;
}

.exclui{
    background-color: rgb(224, 167, 11);
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 8px;
    width: 72px;
}

.delButton{
    background-color: red;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 8px;
}

.normButton{
    background-color: rgb(10, 105, 143);
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 8px;
}

.add:hover{
    background-color: rgb(78, 185, 78);
}

.remove:hover{
    background-color: rgb(226, 90, 90);
}

.print:hover{
    background-color: rgb(171, 117, 221);
}

.exclui:hover{
    background-color: rgb(228, 187, 125);
}

.delButton:hover{
    background-color: rgb(226, 90, 90);
}

.normButton:hover{
    background-color: rgb(87, 137, 156);
}

input{
    color: black;
}

h1{
    padding: 20px;
}